/* .sld1{
    background: url(./pictures/home-1/slide1.jpg);
    background-position: center center;
    background-size: cover;
    z-index: -1;
} */
/* .sld2{
    background: url(./pictures/home-1/slide2.jpg);
    background-position: center;
    background-size: cover;
    
}
.sld3{
    background: url(./pictures/home-1/slide3.jpg);
    background-position: center;
    background-size: cover;
    
}
.sld4{
    background: url(./pictures/home-1/slide4.jpg);
    background-position: center;
    background-size: cover;
    
} */
.prvic{
    position: absolute;
    top: 470px;
    right: 120px;
}
.nxtic{
    position: absolute;
    top: 470px;
    right: 1180px;
}
.about_banner_section{
    background: url(./pictures/about/bg-diapo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
}
/* .headq{
    font-family: 'Droid Sans',Arial,Tahoma,Verdana;
    font-size: 24px;
    color: #05709c;
    margin-bottom: 15px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-left: 250px;
    margin-top: 50px;

} */
.dropdown-menu{
    padding: 0 0;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.sub-menu{
    display: none;
}
.sub-menu1{
    display: none;
}
.hover-me:hover .sub-menu{
    display: block;
    position: absolute;
    margin-left: 185px;
    margin-top: -32px;
}
.hover-me1:hover .sub-menu1{
    display: block;
    position: absolute;
    margin-left: 185px;
    margin-top: -32px;
}
.bgcl{
    background: linear-gradient(#fafafa, #e7e7e7);
}
.nav-link{
    font-weight: 500;
}
.dropdown-item{
    font-weight: 500;
    color: grey;
}
.nav-link:hover{
    color: rgb(224, 222, 222);
}
.nav-link:active{
    color: grey !important;
}

.hass{

}

@media and (min-width: )